<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
      <%= link_to '/', class: 'navbar-brand flex items-center' do %>
        <%= image_tag 'favicon.png', class: 'w-10 h-10 object-contain mr-3' %>
        <div class="flex flex-col leading-tight">
          <span class="font-bold text-base">あなたの「食べたい」を教えます</span>
          <span class="text-sm text-gray-600">何食べたい？の答えがここに</span>
        </div>
      <% end %>
    </div>
  </nav>
</header>