<div class="container">
  <h1>卒業制作アプリケーション</h1>
  <p>「何食べたい？」に答えられない時のための料理レコメンドアプリ</p>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>ガッツリ</h3>
          <p>お腹いっぱい食べたい！</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3>さっぱり</h3>
          <p>軽やかに食べたい！</p>
        </div>
      </div>
    </div>
  </div>
</div>