<p><%= @resource.email %> 様</p>

<p>パスワード再設定のリクエストを受け付けました。以下のリンクから再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は破棄してください。</p>
<p>リンクにアクセスして新しいパスワードを設定するまでは変更されません。</p>

